* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100vw;

    background-color: black;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: grid;
    place-items: center;
}
#calculator {
    background-color: white;
    padding: 1rem 0.5rem 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#display {
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#prev {
    width: 100%;
    height: 40%;
    font-size: 2rem;
}
hr {
    width: 95%;
    align-self: center;
}
#current {
    width: 100%;
    flex-grow: 1;
    font-size: 3rem;
}

#numpad {
    --screen-size-factor: 2vw;

    display: grid;
    grid-template-columns: repeat(4, calc(70px + var(--screen-size-factor)));
    gap: 0.25rem;
}

#numpad > div {
    background-color: lightgray;
    height: calc(70px + var(--screen-size-factor));

    display: grid;
    place-items: center;
}

#clear {
    grid-column: 2/4;
}

#zero {
    grid-column: 1/3;
}

#equals {
    grid-column: 3/5;
}
